{% extends 'greensite/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Textual inputs</h4>
                <p class="card-title-desc">Here are examples of <code>.form-control</code> applied to each
                    textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.</p>

                <form method="post">{% csrf_token %}
                    {% crispy form %}
                    <div class="row mb-4">
                        <div class="col ms-auto">
                            <div class="d-flex flex-reverse flex-wrap gap-2">
                                <button type="submit" class="btn btn-success waves-effect waves-light me-1">
                                    <i class="uil uil-file-alt"></i> Save
                                </button>
                                <button class="btn btn-secondary waves-effect" onclick="javascript:history.back();">
                                    <i class="uil uil-times"></i> Cancel
                                </button>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row-->

                </form>
            </div>
        </div>  <!-- end card -->
    </div>   <!-- end column -->
</div>
{% endblock %}

{% block extra_javascript %}
<!-- init js -->
<script src="{% static 'js/pages/ecommerce-add-product.init.js' %}"></script>
{% endblock  %}