{% load i18n %}

<div id="deleteModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ deleteAction }}">
                <div class="modal-header">
                    <h4 class="modal-title">{{ deleteHeader }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="deleteQuestion">{% translate 'Please wait while deletion will be validated' %}</p>
                    <div id="deleteContent">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">{% translate 'This may take some time' %}</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-danger" disabled
                           value="{% translate 'Delete' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>