{% load i18n %}
{% load crispy_forms_tags %}

{% for frm in forms %}
<div id="{{ frm.FormId }}" class="modal fade {{ frm.Handler|default:'editModal' }}" data-backdrop="static">
    <div class="modal-dialog {{frm.ModalStyle }}">
        <div class="modal-content">
            <form action="{{ frm.Action }}">
                <div class="modal-header">
                    <h4 class="modal-title">{{ frm.Header }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {% if frm.CrispyForm %}{% crispy frm.CrispyForm %}{% endif %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="id">
                    <input type="hidden" name="parentId">

                    {% for btn in frm.Buttons %}
                        <a href="{{ btn.buttonHref }}" class="btn {{ btn.buttonClass }} {% if forloop.last %}mr-auto{% else %}mr-2{% endif %}" data-toggle="modal"
                           data-modal-action="{{ btn.formAction }}"
                           data-modal-title="{{ btn.formTitle }}">
                            <i class="{{ btn.buttonIcon }} mr-1"></i>
                            {{ btn.buttonText }}
                            {% if btn.buttonSpanId %}<span id="{{ btn.buttonSpanId }}"></span>{% endif %}
                        </a>
                    {% endfor %}

                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-primary"
                           value="{% translate 'Save' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}