{% extends 'greensite/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}

{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">{% translate "Positions" %}</h4>
                <div class="row font-size-16">
                    <div class="col-md-3">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <label>Product</label>
                    </div>
                    <label class="col-md-1">Quantity</label>
                    <label class="col-md-1">Price ?</label>
                    <label class="col-md-1">Discount</label>
                    <label class="col-md-2">Reason</label>
                    <label class="col-md-2">Status</label>
                    <label class="col-md-1">Date</label>
                    <label class="col-md-1">Action</label>
                </div>
                {% with positions_formset=inlines|first %}
                <div id="management_form" style="display:none">
                    {{ positions_formset.management_form|crispy }}
                </div>
                <div id="empty_form" style="display:none">
                    {% crispy positions_formset.empty_form positions_helper %}
                </div>
                {% for positions_form in positions_formset.forms %}
                <div id="{{ position_form.prefix }}-row" class="position-form">
                    {% crispy positions_form positions_helper %}
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row mb-4">
            <div class="col ms-auto">
                <div class="d-flex flex-reverse flex-wrap gap-2">
                    <button type="submit" class="btn btn-success w-lg waves-effect waves-light me-1">
                        Save
                    </button>
                    <a role="button" class="btn btn-info w-lg waves-effect" href="{% url 'ledger:customer_orders' %}">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<!-- init js -->
<script src="{% static 'ledger/order.init.js' %}"></script>
{% endblock  %}