{% extends 'greensite/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="float-end">
                <form class="d-inline-flex mb-3">
                    <label class="form-check-label my-2 me-2" for="order-selectinput">Show&nbsp;Counterparties</label>
                    <select class="form-select" id="order-selectinput">
                        <option select value="0">All</option>
                        <option value="1">Only Customers</option>
                        <option value="2">Only Suppliers</option>
                    </select>
                </form>
            </div>
            <a role="button" href="{% url 'ledger:counterparty_add' %}" class="btn btn-success waves-effect waves-light mb-3">
                <i class="mdi mdi-plus me-1"></i> Add Customer
            </a>
        </div>

        <div class="table-responsive mb-4">
            <table class="table table-centered datatable dt-responsive nowrap table-card-list"
                   style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                <thead>
                <tr class="bg-transparent">
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Memo</th>
                    <th>Is Customer</th>
                    <th>Is Supplier</th>
                    <th>Role</th>
                    <th style="width: 120px;">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in table %}
                <tr>
                    <td>{{ customer.Name }}</td>
                    <td>{{ customer.Phone }}</td>
                    <td>{{ customer.Email }}</td>
                    <td>{{ customer.City }}</td>
                    <td>{{ customer.Memo|truncatechars:40 }}</td>
                    <td>{{ customer.IsCustomer }}</td>
                    <td>{{ customer.IsSupplier }}</td>
                    <td>
                        {% if customer.IsCustomer %}
                        <div class="badge rounded-pill bg-soft-success font-size-12">Customer</div>
                        {% endif %} {% if customer.IsSupplier %}
                        <div class="badge rounded-pill bg-soft-primary font-size-12">Supplier</div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'ledger:counterparty_edit' customer.pk %}" class="px-3 text-primary">
                            <i class="uil uil-pen font-size-18"></i>
                        </a>
                        <a href="{% url 'ledger:counterparty_delete' customer.pk %}" class="px-3 text-danger">
                            <i class="uil uil-trash-alt font-size-18"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- init js -->
<script src="{% static 'ledger/counterparties.init.js' %}"></script>
{% endblock  %}