{% extends 'greensite/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/rowgroup/1.1.4/css/rowGroup.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<!--Buttons-->
<!--<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />-->
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default Datatable</h4>
                <p class="card-title-desc">DataTables has most features enabled by
                    default, so all you need to do to use it with your own tables is to call
                    the construction function: <code>$().DataTable();</code>.
                </p>

                <table class="table table-centered table-sm datatable dt-responsive nowrap w-100"
                       style="border-collapse: collapse; border-spacing: 0;"
                       data-order='[[ 0, "asc" ], [ 1, "asc" ]]'
                       data-page-length='25'>
                    <thead>
                        <tr>
                            <th data-priority="4" data-visible="false" class="d-none">Category</th>
                            <th data-priority="1">SKU</th>
                            <th data-priority="3">Name</th>
                            <th data-priority="2">In Stock</th>
                            <th data-priority="2">Receivable</th>
                            <th data-priority="2">Deliverable</th>
                            <th data-priority="2">Reserved</th>
                            <th data-priority="2">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                        <tr>
                            <td class="d-none">{{ row.product_category }}</td>
                            <td ><a href="{% url 'products:product' row.product_SKU %}" class="fw-bold">{{ row.product_SKU }}</a></td>
                            <td>{{ row.product_name }}</td>
                            <td>{{ row.in_stock }}</td>
                            <td>{{ row.supp_not_delivered }}</td>
                            <td>{{ row.cust_not_delivered }}</td>
                            <td>{{ row.reserved }}</td>
                            <td>{{ row.available }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.5/dataRender/ellipsis.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>

        <!-- Buttons examples -->
<!--        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>-->
<!--        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>-->
<!--        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>-->

        <!-- Datatable init js -->
        <script src="{% static 'ledger/warehouse.init.js' %}"></script>
{% endblock  %}

