{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% translate 'Manage Customer Orders' %}{% endblock %}

{% block css %}
<style>
.table tr.has_original td {
    padding-top: 2em;
}

.table tr td.original {
    padding: 2px 0 0 0;
    width: 0;
}

.table th.original {
    width: 0px;
    padding: 0;
}

.table td.original p {
    position: absolute;
    height: 2em;
    padding: 2px 0.3rem;
    overflow: hidden;
}

</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3" style="background: #435d7d;">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Manage Customer Orders' %}</h2>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <a href="#editOrder" class="btn btn-sm btn-success" data-toggle="modal">
                    <i class="bi bi-plus-circle mr-2"></i>{% translate 'Add New Customer Order' %}</a>
                {% comment %}
                <a href="#deleteModal" class="btn btn-sm btn-danger ml-2" data-toggle="modal">
                    <i class="bi bi-dash-circle mr-2"></i>{% translate "Delete Selected" %}</a>
                {% endcomment %}
            </div>
        </div>
        <div class="row">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
    </div>
    {% render_table table %}
</div>

{% include "ledger/crud_editModal.html" %}
{% include "ledger/crud_deleteModal.html" %}

{% endblock %}

{% block js-before %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();
        $('.basicAutoSelect').autoComplete();
    });
</script>
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap-autocomplete@2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
{% endblock %}