{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}{% translate 'Current Stock' %}{% endblock %}

{% comment %} http://bestjquery.com/tutorial/table-style/demo5/# {% endcomment %}
{% block css %}
<link rel="stylesheet" href="{% static '/ledger/table.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Current Stock' %}</h2>
            </div>
            <div class="col-sm-6 text-right">
                <div class="table-filter">
                    <input type="text" class="form-control" placeholder="{% translate 'Search' %}">
                    {% if request.GET.collapse == "true" %}
                    <a role="button" href="{% querystring 'collapse'='false' %}" class="btn btn-default" title="{% translate 'Show empty rows' %}"><i class="bi bi-arrows-expand"></i></a>
                    {% else %}
                    <a role="button" href="{% querystring 'collapse'='true' %}" class="btn btn-default" title="{% translate 'Remove empty rows' %}"><i class="bi bi-arrows-collapse"></i></a>
                    {% endif %}
                    <button class="btn btn-default" title="{% translate 'Export to PDF' %}"><i class="bi bi-file-earmark-pdf"></i></button>
                    <button class="btn btn-default" title="{% translate 'Export to Excel' %}"><i class="bi bi-file-earmark-excel"></i></button>
                </div>
            </div>
        </div>
        <div class="row text-white py-3">
            <div class="col-sm-12">
                <form method="get">
                    <input type="text" class="form-control" name="reportDate" value="{{ reportDate|date:'Y-m-d' }}" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
    {% render_table table %}
</div>
{% endblock %}

{% comment %}
$(document).ready(function(){
  $("#demo").on("hide.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
  });
  $("#demo").on("show.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
  });
});
{% endcomment %}

{# https://www.daterangepicker.com/#examples #}

{% block js %}
<script type="text/javascript">
$(function() {
    $('form input[name="reportDate"]').daterangepicker({
        "locale": {
            "format": "YYYY-MM-DD",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        },
        singleDatePicker: true,
        showDropdowns: true
    }, function(start, end, label) {
        $('form').submit();
  });
});
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}