{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% translate 'Manage Customer Orders' %}{% endblock %}

{% block css %}
<style>
{% comment %}
    table.table tr th:first-child {
	    width: 60px;
    }
{% endcomment %}
    table.table tr th:last-child {
	    width: 150px;
    }
{% comment %}
    /* modal backdrop fix */
    .modal:nth-of-type(even) {
        z-index: 1052 !important;
    }
    .modal-backdrop.show:nth-of-type(even) {
        z-index: 1051 !important;
    }
{% endcomment %}
</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3" style="background: #435d7d;">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Manage Customer Orders' %}</h2>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <a href="#editModal" class="btn btn-sm btn-success" data-toggle="modal">
                    <i class="bi bi-plus-circle mr-2"></i>{% translate 'Add New Customer Order' %}</a>
                {% comment %}
                <a href="#deleteModal" class="btn btn-sm btn-danger ml-2" data-toggle="modal">
                    <i class="bi bi-dash-circle mr-2"></i>{% translate "Delete Selected" %}</a>
                {% endcomment %}
            </div>
        </div>
        <div class="row">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
    </div>
    {% render_table table %}
</div>

{% include "ledger/crud_editModal.html" %}
{% include "ledger/crud_deleteModal.html" %}

<!-- Table Modal HTML -->
<div id="tableModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form action="{% url 'ledger:customer_order_positions' %}">
                <div class="modal-header">
                    <h4 class="modal-title">{% translate 'Customer Order Positions' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="parentId">
                    <a href="#formModal" class="btn btn-warning mr-auto" data-toggle="modal"
                       data-modal-action="{% url 'ledger:customer_order_payment_action' %}"
                       data-modal-title="{% translate 'Add' %}">
                        <i class="bi bi-plus-square mr-1"></i>
                        {% translate 'Add' context 'Form button' %}
                    </a>

                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-primary"
                           value="{% translate 'Save' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="formModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">{% translate 'Customer Order Positions' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action">
                    <input type="hidden" name="parentId">

                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-primary"
                           value="{% translate 'Save' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js-before %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
{% endblock %}