{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}{% translate 'Current Funds' %}{% endblock %}

{% comment %} http://bestjquery.com/tutorial/table-style/demo5/# {% endcomment %}
{% block css %}
<link rel="stylesheet" href="{% static '/ledger/table.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Current Funds' %}</h2>
            </div>
            <div class="col-sm-6 text-right">
                <div class="table-filter">
                    <input type="text" class="form-control" placeholder="{% translate 'Search' %}">
                    {% if request.GET.collapse == "true" %}
                    <a role="button" href="{% querystring 'collapse'='false' %}" class="btn btn-default" title="{% translate 'Show empty rows' %}"><i class="bi bi-arrows-expand"></i></a>
                    {% else %}
                    <a role="button" href="{% querystring 'collapse'='true' %}" class="btn btn-default" title="{% translate 'Remove empty rows' %}"><i class="bi bi-arrows-collapse"></i></a>
                    {% endif %}
                    <button class="btn btn-default" title="{% translate 'Export to PDF' %}"><i class="bi bi-file-earmark-pdf"></i></button>
                    <button class="btn btn-default" title="{% translate 'Export to Excel' %}"><i class="bi bi-file-earmark-excel"></i></button>
                </div>
            </div>
        </div>
        <div class="row text-white py-3">
            <div class="col-sm-12">
                <div id="reportrange" style="cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="bi bi-calendar-range"></i>&nbsp;
                    <span></span>&nbsp;
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <form method="get">
                    <input type="hidden" name="startDate" value="{{ startDate|date:'Y-m-d' }}" />
                    <input type="hidden" name="endDate" value="{{ endDate|date:'Y-m-d' }}" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
    {% render_table table %}
</div>
{% endblock %}

{% comment %}
$(document).ready(function(){
  $("#demo").on("hide.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
  });
  $("#demo").on("show.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
  });
});
{% endcomment %}

{# https://www.daterangepicker.com/#examples #}

{% block js %}
<script type="text/javascript">
$(function() {
    moment.locale('ru');

    var start = moment($('form input[name="startDate"]').val(), 'YYYY-MM-DD');
    var end = moment($('form input[name="endDate"]').val(), 'YYYY-MM-DD');

    function cb(start, end) {
        $('#reportrange span').html(start.format('LL') + ' - ' + end.format('LL'));
        $('form input[name="startDate"]').val(start.format('YYYY-MM-DD'));
        $('form input[name="endDate"]').val(end.format('YYYY-MM-DD'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
           'This Year': [moment().startOf('year'), moment().endOf('year')],
           'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
        }
    }, cb);

    cb(start, end);

});
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}