{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}{% translate 'Manage Counterparties' %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/ledger/table.css' %}">
<style>
    table.table tr th:last-child {
	    width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Registered Counterparties' %}</h2>
            </div>
            <div class="col-sm-6 text-right">
                <div class="table-filter">
                    <input type="text" class="form-control" placeholder="{% translate 'Search' %}">
                    <a role="button" href="#editCounterparty" data-toggle="modal" class="btn btn-default"
                       title="{% translate 'Add New Counterparty' %}">
                        <i class="bi bi-file-earmark-plus-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% render_table table %}
</div>
{% include "ledger/crud_editModal.html" %}
{% include "ledger/crud_deleteModal.html" %}
{% endblock %}

{% block js-before %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
{% endblock %}