{% extends "catalog/base.html" %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <img src="{{ image_primary.Image.url }}" width="100%">
    </div>
    <div class="col-md-7">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/catalog/products/">Products</a></li>
                <li class="breadcrumb-item"><a href="#">{{ product.Group.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.SKU }}</li>
            </ol>
        </nav>
        <h1>{{ product_info.Name|upper }}</h1>
        <br/>
        <p>{{ product_info.Specification|default:"&nbsp;" }}</p>
        <h3>#{{ product.SKU }}</h3>
        <h3>{{ price.Price }} {{ price.Currency.Code }}</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            {% for image in product.image_set.all %}
            <li>{{ image.IsPrimary }} | {{ image.Image }} | <img src="{{ image.Image.url }}" height="100px"></li>
            {% empty %}
            <li>No images available</li>
            {% endfor %}
        </ul>
    </div>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tab in tabs %}
        {% if forloop.first %}
        <button class="nav-link active" id="nav-tab{{ tab.Order }}-tab"
                data-bs-toggle="tab" data-bs-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="true">{{ tab.Name }}
        </button>
        {% else %}
        <button class="nav-link" id="nav-tab{{ tab.Order }}-tab"
                data-bs-toggle="tab" data-bs-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="false">{{ tab.Name }}
        </button>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</nav>
<div class="row">
    <div class="tab-content" id="nav-tabContent">
        {% for tab in tabs %}
        {% if forloop.first %}
        <div class="tab-pane fade show active" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.formatted_markdown|safe }}
        </div>
        {% else %}
        <div class="tab-pane fade" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">
            {{ tab.formatted_markdown|safe }}
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>

{% endblock %}