{% extends "catalog/base.html" %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block content %}

<h1>{{ product.SKU }}</h1>

<ul>
    {% for pi in product.productinfo_set.all %}
        <li>{{ pi.Language.Code }} | {{ pi.Name }}</li>
    {% endfor %}
</ul>

<h2>{{ product.Group.Name }}</h2>

<ul>
    {% for gi in product.Group.groupinfo_set.all %}
        <li>{{ gi.Language.Code }} | {{ gi.Tagline }}</li>
    {% endfor %}
</ul>

<ul>
    {% for tab in product.tab_set.all %}
        <li>{{ tab.Order }} | {{ tab.Language.Code }} | {{ tab.Name }}</li>
    {% endfor %}
</ul>

<ul>
    {% for price in product.ordered_price_set %}
        <li>{{ price.DateAdded }} | {{ price.Price }} {{ Price.Currency.Code }} | {{ price.PV }}</li>
    {% endfor %}
</ul>

{% endblock %}