{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %}Accounts{% endblock %}

{% block css %}
<style>
    table.table tr th:first-child {
	    width: 60px;
    }
    table.table tr th:last-child {
	    width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3" style="background: #435d7d;">
            <div class="col-sm-6">
                <h2 class="mb-0">Manage <b>Accounts</b></h2>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <a href="#addAccountModal" class="btn btn-sm btn-success" data-toggle="modal">
                    <i class="bi bi-plus-circle mr-2"></i>Add New Account</a>
                {% comment %}
                <a href="#deleteAccountModal" class="btn btn-sm btn-danger ml-2" data-toggle="modal">
                    <i class="bi bi-dash-circle mr-2"></i>{% translate "Delete Selected" %}</a>
                {% endcomment %}
            </div>
        </div>
    </div>
    {% render_table table %}
</div>
<!-- Add Modal HTML -->
<div id="addModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/ledger/accounts/action/">
                <div class="modal-header">
                    <h4 class="modal-title">Add Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Account Name</label>
                        <input type="text" class="form-control" name="account_name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" value="add">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{% translate "Cancel" context "Form button" %}">
                    <input type="submit" class="btn btn-success" value="{% translate "Add" context "Form button" %}">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/ledger/accounts/action/">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Account Name</label>
                        <input type="text" class="form-control" name="account_name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="account_id">
                    <input type="hidden" name="action" value="edit">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{% translate "Cancel" context "Form button" %}">
                    <input type="submit" class="btn btn-info" value="{% translate "Save" context "Form button" %}">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="{% translate "Cancel" context "Form button" %}">
                    <input type="submit" class="btn btn-danger" value="{% translate "Delete" context "Form button" %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        // Activate tooltip
        // $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;
                });
            }
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });
    });

    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var accountId = button.data('id') // Extract info from data-* attributes
        var modal = $(this)
        $.ajax({
                    url:'/ledger/accounts/action/',
                    type:'GET',
                    data: {id: accountId},
                    dataType: 'json',
                    success:function(response){
                        modal.find('.modal-footer input[name="account_id"]').val(response.id);
                        modal.find('.modal-body input[name="account_name"]').val(response.Name);
                    },
                    error:function(){
                        console.log('something went wrong here');
                    },
                });
    })

</script>
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
{% endblock %}