{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% translate 'Manage Counterparties' %}{% endblock %}

{% block css %}
<style>
    table.table tr th:first-child {
	    width: 60px;
    }
    table.table tr th:last-child {
	    width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3" style="background: #435d7d;">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Manage Counterparties' %}</h2>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <a href="#editModal" class="btn btn-sm btn-success" data-toggle="modal">
                    <i class="bi bi-plus-circle mr-2"></i>{% translate 'Add New Counterparty' %}</a>
                {% comment %}
                <a href="#deleteModal" class="btn btn-sm btn-danger ml-2" data-toggle="modal">
                    <i class="bi bi-dash-circle mr-2"></i>{% translate "Delete Selected" %}</a>
                {% endcomment %}
            </div>
        </div>
    </div>
    {% render_table table %}
</div>
<!-- Add/Edit Modal HTML -->
<div id="editModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'ledger:counterparty_action' %}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Counterparty</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {% crispy form %}
                    <div class="form-group">
                        <label>A Customer may act as a Supplier or Customer, or both</label>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="IsSupplier"
                                           id="editModal_IsSupplier">
                                    <label class="custom-control-label" for="editModal_IsSupplier">
                                        Act as Supplier
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="IsCustomer"
                                           id="editModal_IsCustomer">
                                    <label class="custom-control-label" for="editModal_IsCustomer">
                                        Act as Customer
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id">
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" value="edit">
                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-info"
                           value="{% translate 'Save' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'ledger:counterparty_delete' %}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Counterparty</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="deleteQuestion">{% translate 'Please wait while deletion will be validated' %}</p>
                    <div id="deleteContent">
                        <p class="text-info"><small>{% translate 'This may take some time' %}</small></p>
                    </div>
                    <input type="hidden" name="id">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-danger" disabled
                           value="{% translate 'Delete' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js-before %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        // Activate tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
{% endblock %}