{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %}{% translate 'Manage Customer Orders' %}{% endblock %}

{% block css %}
<style>
    table.table tr th:first-child {
	    width: 60px;
    }
    table.table tr th:last-child {
	    width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <div class="table-title mb-2">
        <div class="row text-white py-3" style="background: #435d7d;">
            <div class="col-sm-6">
                <h2 class="mb-0">{% translate 'Manage Customer Orders' %}</h2>
            </div>
            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                <a href="#addAccountModal" class="btn btn-sm btn-success" data-toggle="modal">
                    <i class="bi bi-plus-circle mr-2"></i>{% translate 'Add New Customer Order' %}</a>
                {% comment %}
                <a href="#deleteAccountModal" class="btn btn-sm btn-danger ml-2" data-toggle="modal">
                    <i class="bi bi-dash-circle mr-2"></i>{% translate "Delete Selected" %}</a>
                {% endcomment %}
            </div>
        </div>
    </div>
    {% render_table table %}
</div>


<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'ledger:customer_orders' %}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="deleteQuestion">Please wait while deletion will be validated</p>
                    <div id="deleteContent">
                        <p class="text-info"><small>This may take some time.</small></p>
                    </div>
                    <input type="hidden" name="id">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal"
                           value="{% translate 'Cancel' context 'Form button' %}">
                    <input type="submit" class="btn btn-danger" disabled
                           value="{% translate 'Delete' context 'Form button' %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/ledger/crud.js' %}"></script>
{% endblock %}