{% extends "greensite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ product_instance.SKU }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<form class="form" method="post">{% csrf_token %}
    <div class="form-group">
        <div>
            {% crispy form_product %}
        </div>
        <div>
            {% crispy form_product_info %}
        </div>
        <div>
            {% crispy form_tab %}
        </div>
    </div>
    <div>
        <button class="btn btn-success"><i class="bi-save"></i>&nbsp;Save</button>
        <button class="btn btn-secondary"><i class="bi-x-circle"></i>&nbsp;Cancel</button>
    </div>
</form>
{% endblock %}

{% block js %}
{% endblock %}