{% extends "products/base.html" %}

{% block title %}Full products list{% endblock %}

{% block content %}

{% regroup products_list by Category__Name as plist %}
<ul>
{% for product_category in plist %}
    <li>{{ product_category.grouper }}
    <ul>
        {% for product in product_category.list %}
          <li><a href="/products/{{ product.SKU }}">#{{ product.SKU }}</a>&nbsp;
              {{ product.pi__Name|default:"< Product name not set >" }}&nbsp;
              Photos:&nbsp;{{ product.ImagesCount }}&nbsp;
              Tabs:&nbsp;{{ product.TabsCount }}
          </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}