{% extends "greensite/base.html" %}

{% block title %} Greenway products list{% endblock %}

{% block content %}

{% regroup products_list by Category__Name as plist %}
<ul>
{% for product_category in plist %}
    <li><a href="/products/{{ product_category.list.0.Category__Slug }}/">{{ product_category.grouper }}</a>
    <ul>
        {% for product in product_category.list %}
          <li><a href="/products/{{ product.SKU }}/">#{{ product.SKU }}</a>&nbsp;
              {{ product.pi__Name|default:"< Product name not set >" }}&nbsp;
              (Photos:&nbsp;{{ product.ImagesCount }},
              Tabs:&nbsp;{{ product.TabsCount }})
          </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}