{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load imagekit %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ category.Name }}</h2>
    </div>
</div>
<div class="row">
    {% for p in products_list %}
    <div class="card" style="width: 18rem;">
        {% if p.image %}
        {% generateimage 'products:product_medium_thumbnail' source=p.image.Image -- class="card-img-top" %}
        {% endif %}
        <div class="card-body">
            <h6 class="card-title text-center">{{ p.product_info.Name|upper }}</h6>
            <p class="card-text d-flex justify-content-between"
               style="background:url({% static 'products/dot.png' %}) repeat-x center;">
                <span class="bg-white">{% translate "SKU:" context "category list view" %}</span>
                <span class="bg-white">#{{ p.product.SKU }}</span>
            </p>
            <a href="/products/{{ p.product.SKU }}/" class="btn btn-primary">Open</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}