{% extends "greensite/base.html" %}
{% load static %}
{% load martortags %}
{% load imagekit %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 border">
        {% if image_primary %}
        {% generateimage 'products:product_big_thumbnail' source=image_primary.Image -- width="100%" %}
        {% else %}
        {% endif %}
    </div>
    <div class="col-md-7 border">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                <li class="breadcrumb-item"><a href="/products/{{ product.Category.Slug }}/">
                    {{ product.Category.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">#{{ product.SKU }}</li>
            </ol>
        </nav>
        <h3>{{ product_info.Name|default:"No data for this language" }}</h3>
        <p>{{ product_info.Specification|default:"No specification" }}</p>
        <p>{{ price.Price }} {{ price.Currency.Code }}</p>

        <!--        <div class="row border">-->
        {% for tag in tags %}
        <span class="badge bg-primary">{{ tag.tagname__Name }}</span>
        <a href="#" class="badge bg-success text-decoration: none">{{ tag.tagname__Name }}</a>
        {% endfor %}
        <!--        </div>-->

        <div class="row justify-content-lg-left border">
            {% for image in product.image_set.all %}
            <div class="col-lg-auto">
                {% generateimage 'products:product_small_thumbnail' source=image.Image -- class="img-thumbnail" %}
            </div>
            {% empty %}
            <div class="col">No images available</div>
            {% endfor %}
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tab in tabs %}
        {% if forloop.first %}
        <button class="nav-item nav-link active" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" data-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="true">{{ tab.Name }}
        </button>
        {% else %}
        <button class="nav-item nav-link" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" data-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="false">{{ tab.Name }}
        </button>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</nav>
<div class="row">
    <div class="tab-content martor-preview" id="nav-tabContent">
        {% for tab in tabs %}
        {% if forloop.first %}
        <div class="tab-pane fade show active" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.Text|safe_markdown }}
        </div>
        {% else %}
        <div class="tab-pane fade" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.Text|safe_markdown }}
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });

</script>
{% endblock %}