{% extends "products/base.html" %}
{% load static %}
{% load martortags %}
{% load imagekit %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-5">
        <!-- <img src="{{ image_primary.Image.url }}" width="100%"> -->
        {% generateimage 'products:product_big_thumbnail' source=image_primary.Image -- width="100%" %}
    </div>
    <div class="col-md-7">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                <li class="breadcrumb-item"><a href="/products/{{ product.Category.Slug }}">
                    {{ product.Category.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.SKU }}</li>
            </ol>
        </nav>
        <h3>{{ product_info.Name|default:"No data for this language" }}</h3>
        <br/>
        <p>{{ product_info.Specification|default:"&nbsp;" }}</p>
        <h3>#{{ product.SKU }}</h3>
        <h3>{{ price.Price }} {{ price.Currency.Code }}</h3>

        <div class="row justify-content-lg-left">
            {% for image in product.image_set.all %}
            <!-- <li>{{ image.IsPrimary }} | {{ image.Image }} | <img src="{{ image.Image.url }}" height="100px"></li> -->
            <div class="col-lg-auto">{% generateimage 'products:product_small_thumbnail' source=image.Image %}</div>
            {% empty %}
            <div class="col">No images available</div>
            {% endfor %}
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tab in tabs %}
        {% if forloop.first %}
        <button class="nav-link active" id="nav-tab{{ tab.Order }}-tab"
                data-bs-toggle="tab" data-bs-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="true">{{ tab.Name }}
        </button>
        {% else %}
        <button class="nav-link" id="nav-tab{{ tab.Order }}-tab"
                data-bs-toggle="tab" data-bs-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="false">{{ tab.Name }}
        </button>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</nav>
<div class="row">
    <div class="tab-content martor-preview" id="nav-tabContent">
        {% for tab in tabs %}
        {% if forloop.first %}
        <div class="tab-pane fade show active" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.Text|safe_markdown }}
        </div>
        {% else %}
        <div class="tab-pane fade" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">
            {{ tab.Text|safe_markdown }}
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });


</script>
{% endblock %}