{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load imagekit %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5 border">
        {% if image_primary %}
        {% generateimage 'products:product_big_thumbnail' source=image_primary.Image -- width="100%" %}
        {% else %}
        {% endif %}
    </div>
    <div class="col-md-7 border">
        <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/products/">{% translate "Products" %}</a></li>
                <li class="breadcrumb-item"><a href="/products/{{ product.Category.Slug }}/">
                    {{ product.Category.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">#{{ product.SKU }}</li>
            </ol>
            <ol>
                {% if product_prev %}
                <a href="/products/{{ product_prev.SKU }}/" class="btn btn-sm btn-primary">
                    <i class="bi bi-arrow-left-square mr-1"></i>
                    {% translate "Prev" %}
                </a>
                {% else %}
                <button class="btn btn-sm btn-light">
                    <i class="bi bi-arrow-left-square mr-1"></i>
                    {% translate "Prev" %}
                </button>
                {% endif %}
                {% if product_next %}
                <a href="/products/{{ product_next.SKU }}/" class="btn btn-sm btn-primary">
                    <i class="bi bi-arrow-right-square mr-1"></i>
                    {% translate "Next" %}
                </a>
                {% else %}
                <button class="btn btn-sm btn-light"><i class="bi bi-arrow-right-square mr-1"></i>
                    {% translate "Next" %}
                </button>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                <a href="edit/" class="btn btn-sm btn-danger">
                    <i class="bi bi-pencil-square mr-1"></i>
                    {% translate "Edit" %}
                </a>
                {% endif %}
            </ol>
        </nav>
        <h4>{{ product_info.Name|default:_("No product name in this language") }}</h4>
        <p>{{ product_info.Specification|default:_("No specification in this language") }}</p>
        <p class="m-0">{% translate "Price" %}
            {{ price.Price }}&nbsp;{{ price.Currency.Symbol }}
            <span class="font-weight-light">({% translate "actual since" %} {{ price.DateAdded|date:"j E Y"}})</span>
            {% if user.is_authenticated and user.is_staff %}
            <button class="btn btn-sm btn-info" data-toggle="popover" data-html="true" title="Price History" data-content="Table data">History</button>
            <div id="price-history-table" class="d-none">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Volume</th>
                    </tr>
                    <tr>
                        <td>01.01.80</td>
                        <td>12.45 EUR</td>
                        <td>7 PV</td>
                    </tr>
                    <tr>
                        <td>01.01.80</td>
                        <td>12.45 EUR</td>
                        <td>7.3 V</td>
                    </tr>
                </table>
            </div>
            {% endif %}
        </p>
        <p class="m-0">{% translate "Volume" %}
            {{ price.PV }}&nbsp;PV
        </p>

        {% if tags %}
        <h5>
            {% for tag in tags %}
            <a href="/products/{{ tag.tag.Slug }}/" class="badge bg-warning text-decoration: none">{{ tag.tag_info.Name }}</a>
            {% endfor %}
        </h5>
        {% endif %}

        <div class="row justify-content-lg-left border">
            {% for image in product.image_set.all %}
            <div class="col-lg-auto">
                {% generateimage 'products:product_small_thumbnail' source=image.Image -- class="img-thumbnail" %}
            </div>
            {% empty %}
            <div class="col">No images available</div>
            {% endfor %}
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for tab in tabs %}
        {% if forloop.first %}
        <button class="nav-item nav-link active" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" data-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="true">{{ tab.Name }}
        </button>
        {% else %}
        <button class="nav-item nav-link" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" data-target="#nav-tab{{ tab.Order }}" type="button" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="false">{{ tab.Name }}
        </button>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</nav>
<div class="row">
    <div class="tab-content" id="nav-tabContent">
        {% for tab in tabs %}
        {% if forloop.first %}
        <div class="tab-pane fade show active" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.formatted_markdown|safe }}
        </div>
        {% else %}
        <div class="tab-pane fade" id="nav-tab{{ tab.Order }}" role="tabpanel"
             aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.formatted_markdown|safe }}
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js-before %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}
{% block js %}
<script>
<!--http://jsfiddle.net/z824fn6b/320/-->
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({
    html: true,
    content: function() {
        return $('#price-history-table').html();
    }
  });
});
</script>
{% endblock %}