{% extends 'greensite/base.html' %}
{% load static %}
{% load i18n %}
{% load imagekit %}

{% block extra_css %}
<!-- ION Slider -->
<link href="{% static 'libs/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock  %}

{% block content %}
<div class="row">
<!--    Filter column-->
<div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-header bg-transparent border-bottom">
                <h5 class="mb-0">Filters</h5>
            </div>

            <div class="p-4">
                <h5 class="font-size-14 mb-3">Categories</h5>
                <div class="custom-accordion">
                    <a class="text-body fw-semibold pb-2 d-block" data-bs-toggle="collapse" href="#categories-collapse" role="button" aria-expanded="false" aria-controls="categories-collapse">
                        <i class="mdi mdi-chevron-up accor-down-icon text-primary me-1"></i> Footwear
                    </a>
                    <div class="collapse show" id="categories-collapse">
                        <div class="card p-2 border shadow-none">
                            <ul class="list-unstyled categories-list mb-0">
                                {% for c in nav_categories %}
                                <li><a href="{% url 'products:product' c.Slug %}"> <i class="mdi mdi-circle-medium me-1"></i> {{ c.Name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="p-4 border-top">
                <div>
                    <h5 class="font-size-14 mb-4">Price</h5>

                    <input type="text" id="pricerange">
                </div>
            </div>

            <div class="custom-accordion">

                <div class="p-4 border-top">
                    <div>
                        <h5 class="font-size-14 mb-0"><a href="#filterproduct-color-collapse" class="text-dark d-block" data-bs-toggle="collapse">Customer Rating <i class="mdi mdi-chevron-up float-end accor-down-icon"></i></a></h5>

                        <div class="collapse show" id="filterproduct-color-collapse">
                            <div class="mt-4">
                                <div class="form-check mt-2">
                                    <input type="radio" id="productratingRadio1" name="productratingRadio1" class="form-check-input">
                                    <label class="form-check-label" for="productratingRadio1">4 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input type="radio" id="productratingRadio2" name="productratingRadio1" class="form-check-input">
                                    <label class="form-check-label" for="productratingRadio2">3 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input type="radio" id="productratingRadio3" name="productratingRadio1" class="form-check-input">
                                    <label class="form-check-label" for="productratingRadio3">2 <i class="mdi mdi-star text-warning"></i>  & Above</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input type="radio" id="productratingRadio4" name="productratingRadio1" class="form-check-input">
                                    <label class="form-check-label" for="productratingRadio4">1 <i class="mdi mdi-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="p-4 border-top">
                    <div>
                        <h5 class="font-size-14 mb-0"><a href="#filterproduct-discount-collapse" class="collapsed text-dark d-block" data-bs-toggle="collapse">Discount <i class="mdi mdi-chevron-up float-end accor-down-icon"></i></a></h5>

                        <div class="collapse" id="filterproduct-discount-collapse">
                            <div class="mt-4">
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio1" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio1">50% or more</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio2" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio2">40% or more</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio3" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio3">30% or more</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio4" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio4">20% or more</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio5" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio5">10% or more</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="productdiscountRadio6" name="productdiscountRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="productdiscountRadio6">Less than 10%</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
<!--    Product boxes column-->
<div class="col-xl-9 col-lg-8">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h5>Showing result for "Shoes"</h5>
                            <ol class="breadcrumb p-0 bg-transparent mb-2">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Footwear</a></li>
                                <li class="breadcrumb-item active">Shoes</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-inline float-md-end">
                            <div class="search-box ms-2">
                                <div class="position-relative">
                                    <input type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                                    <i class="mdi mdi-magnify search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-tabs-custom mt-3 mb-2 ecommerce-sortby-list">
                    <li class="nav-item">
                        <a class="nav-link disabled fw-medium" href="#" tabindex="-1" aria-disabled="true">Sort by:</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Popularity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Newest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Discount</a>
                    </li>

                </ul>

                <div class="row">
                    {% for p in page_obj %}
                    <div class="col-xl-4 col-sm-6">
                        <div class="product-box">
                            <div class="product-img pt-4 px-4">
                                <div class="product-ribbon badge bg-warning">
                                    Trending
                                </div>
                                <div class="product-wishlist">
                                    <a href="#">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </div>
                                {% if p.image %}
    {% generateimage 'products:product_medium_thumbnail' source=p.image.Image -- class="img-fluid mx-auto d-block" %}
                                {% endif %}
                            </div>
                            <div class="text-center product-content p-4">
                                <h5 class="mb-1">
                                    <a href="#" class="text-dark">#{{ p.product.SKU }}</a>
                                </h5>
                                <p class="text-muted font-size-13">
                                    {{ p.product_info.Name|default:_("< Product name not set >") }}
                                </p>
                                <h5 class="mt-3 mb-0"><span class="text-muted me-2"><del>$280</del></span> $260</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row mt-4">
                    <div class="col-sm-6">
                        <div>
                            <p class="mb-sm-0">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-end">
                            <ul class="pagination pagination-rounded mb-sm-0">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                {% endif %}
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">5</a>
                                </li>
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</div>
<!-- end row -->
{% endblock %}

{% block extra_javascript %}
		<!-- Ion Range Slider-->
        <script src="{% static 'libs/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>

        <!-- init js -->
        <script src="{% static 'js/pages/product-filter-range.init.js' %}"></script>
{% endblock  %}