{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load imagekit %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ category.Name }}</h2>
    </div>
</div>
<div class="row d-flex justify-content-center">
    {% for p in products_list %}
    <div class="card m-2" style="width: 19rem;">
        <h5 class="card-header text-center">#{{ p.product.SKU }}</h5>
        {% if p.image %}
        {% generateimage 'products:product_medium_thumbnail' source=p.image.Image -- class="card-img-top" %}
        {% endif %}
        <div class="card-body">
            <h5 class="card-title text-center"><a href="/products/{{ p.product.SKU }}/" class="text-success">
                {{ p.product_info.Name|default:_("< Product name not set >") }}</a></h5>
            {% if p.product_info.Tagline %}
            <h6 class="card-subtitle text-center text-muted mb-2">{{ p.product_info.Tagline }}</h6>
            {% endif %}
            {% if p.tags %}
            <h5 class="">
                {% for tag in p.tags %}
                <a href="/products/{{ tag.tag.Slug }}/" class="badge bg-warning text-decoration: none">
                    {{ tag.tag_info.Name }}</a>
                {% endfor %}
            </h5>
            {% endif %}
        </div>

        <div class="card-footer text-muted">
            <div class="d-flex justify-content-between">
                <span>{% translate "Customer Price" %}</span>
                {% if p.price_customer %}
                    <span>{{ p.price_customer.Price }}&nbsp;{{ p.price_customer.Currency.Symbol }}&nbsp;({{ p.price_customer.PV|floatformat:1 }}&nbsp;PV)</span>
                {% else %}
                    <span>&lt;No data&gt;</span>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-between">
                <span>{% translate "Partner Price" %}</span>
                {% if p.price_partner %}
                    <span>{{ p.price_partner.Price }}&nbsp;{{ p.price_partner.Currency.Symbol }}&nbsp;({{ p.price_partner.PV|floatformat:1 }}&nbsp;PV)</span>
                {% else %}
                    <span>&lt;No data&gt;</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}