{% extends "greensite/base.html" %}
{% load i18n %}
{% load static %}
{% load imagekit %}
{% load product_tags %}

{% block title %}{{ product.SKU }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/products/drift-basic.min.css' %}">
    <link rel="stylesheet" href="{% static '/products/lightgallery.min.css' %}">
<style>
 .product-gallery {
    display:flex}
 .product-gallery-thumblist {
    margin-left:-.5rem}
 .product-gallery-thumblist-item {
    display:block;
    position:relative;
/*    width:5rem;
    height:3.5rem;
    margin:.625rem; */
    transition:border-color 0.2s ease-in-out;
    border:1px solid #e3e9ef;
    border-radius:.3125rem;
    text-decoration:none !important;
    overflow:hidden}
 .product-gallery-thumblist-item > img {
    display:block;
    width:100%;
    transition:opacity .2s ease-in-out;
    opacity:.6}
 .product-gallery-thumblist-item .product-gallery-thumblist-item-text {
    position:absolute;
    top:50%;
    width:100%;
    padding:.25rem;
    transform: translateY(-50%);
    color:#4b566b;
    font-size:.875rem;
    text-align:center}
 .product-gallery-thumblist-item .product-gallery-thumblist-item-text > i {
    display:block;
    margin-bottom:.25rem;
    font-size:1.5em}
 .product-gallery-thumblist-item:hover {
    border-color:#c9d5e0}
 .product-gallery-thumblist-item:hover > img {
    opacity:1}
 .product-gallery-thumblist-item.active {
    border-color:#fe696a}
 .product-gallery-thumblist-item.active > img {
    opacity:1}
 .product-gallery-preview {
    position:relative;
    width:100%;
    margin-top:.625rem}
 .product-gallery-preview-item {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:opacity 0.3s ease-in-out;
    opacity:0;
    z-index:1}
 .product-gallery-preview-item > img {
    display:block;
    width:100%}
 .product-gallery-preview-item.active {
    position:relative;
    opacity:1;
    z-index:10}
 .product-gallery-preview-item:hover {
    cursor:crosshair}

 .popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}
 </style>
{% endblock css %}

<!--https://github.com/imgix/drift/-->
<!--https://github.com/sachinchoolur/lightgallery.js-->

{% block content %}
<div class="row product-gallery mb-3">
    <div class="col-md-5">
        {% for image in product.image_set.all %}
            {% if image_primary == image %}
            <div class="product-gallery-preview-item active" id="id{{ image.id }}">
            {% else %}
            <div class="product-gallery-preview-item" id="id{{ image.id }}">
            {% endif %}
            {% generateimage 'products:product_big_thumbnail' source=image.Image as img %}
            <img class="image-zoom" src="{{ img.url }}" data-zoom="{{ image.Image.url }}" width="100%">
            <div class="image-zoom-pane"></div>
            </div>
        {% empty %}
            <div class="col">No images available</div>
        {% endfor %}
    </div>
    <div class="col-md-7">
        <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="/products/">{% translate "Products" %}</a></li>
                <li class="breadcrumb-item"><a href="/products/{{ product.Category.Slug }}/">
                    {{ product.Category.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">#{{ product.SKU }}</li>
            </ol>
            <ol>
                {% if product_prev %}
                <a href="/products/{{ product_prev.SKU }}/" class="btn btn-sm btn-primary">
                    <i class="bi bi-arrow-left-square mr-1"></i>
                    {% translate "Prev" %}
                </a>
                {% else %}
                <button class="btn btn-sm btn-light">
                    <i class="bi bi-arrow-left-square mr-1"></i>
                    {% translate "Prev" %}
                </button>
                {% endif %}
                {% if product_next %}
                <a href="/products/{{ product_next.SKU }}/" class="btn btn-sm btn-primary">
                    <i class="bi bi-arrow-right-square mr-1"></i>
                    {% translate "Next" %}
                </a>
                {% else %}
                <button class="btn btn-sm btn-light"><i class="bi bi-arrow-right-square mr-1"></i>
                    {% translate "Next" %}
                </button>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                <a href="edit/" class="btn btn-sm btn-danger">
                    <i class="bi bi-pencil-square mr-1"></i>
                    {% translate "Edit" %}
                </a>
                {% endif %}
            </ol>
        </nav>
        <h4>{{ product_info.Name|default:_("No product name in this language") }}</h4>
        {% if product_info.Specification %}
        <p>{{ product_info.Specification }}</p>
        {% endif %}
        <p class="m-0">
            <span>{% translate "Price" %}</span>
            <span>{{ price.Price }}&nbsp;{{ price.Currency.Symbol }}</span>
            {% if price|get_model_name == 'price' %}
            <span class="font-weight-light">({% translate "actual since" %} {{ price.DateAdded|date:"j E Y" }})</span>
            {% elif price|get_model_name == 'discount' %}
            <span class="font-weight-light">({% translate "discount since" %} {{ price.DateStart|date:"j E Y" }} {% translate "till" %} {{ price.DateEnd|date:"j E Y" }})</span>
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
            <a tabindex="0" role="button" class="btn btn-sm btn-info ml-2" data-toggle="popover" data-trigger="focus"
               title="{% translate 'Price History' %}">
                {% translate "History" context "Price History" %}
            </a>
            {% endif %}
        </p>
        {% if user.is_authenticated and user.is_staff %}
        <div id="price-history-table" class="d-none">
            <table class="table table-bordered table-sm">
                <thead>
                <tr class="text-center">
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Price" %}</th>
                    <th>{% translate "Volume" %}</th>
                    <th>{% translate "Comment" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in prices %}
                <tr>
                    <td>{{ p.DateAdded|date:"d.m.y" }}</td>
                    <td class="text-right">{{ p.Price|floatformat:2 }}&nbsp;{{ p.Currency.Code }}</td>
                    <td class="text-right">{{ p.PV|floatformat:1 }}&nbsp;PV</td>
                    <td>{{ p.Comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <p class="m-0">
            <span>{% translate "Volume" %}</span>
            <span>{{ price.PV }}&nbsp;PV</span>
        </p>

        {% if tags %}
        <h5>
            {% for tag in tags %}
            <a href="/products/{{ tag.tag.Slug }}/" class="badge bg-warning text-decoration: none">
                {{ tag.tag_info.Name }}
            </a>
            {% endfor %}
        </h5>
        {% endif %}

        <div class="row">
            {% for image in product.image_set.all|dictsortreversed:'IsPrimary' %}
            <div class="col-lg-auto p-2">
                {% if image_primary == image %}
                <a class="product-gallery-thumblist-item active" href="#id{{ image.id }}">
                {% else %}
                <a class="product-gallery-thumblist-item" href="#id{{ image.id }}">
                {% endif %}
                {% generateimage 'products:product_small_thumbnail' source=image.Image -- class="img-thumbnail" %}
                </a>
            </div>
            {% empty %}
            <div class="col">No images available</div>
            {% endfor %}
        </div>
    </div>
</div>

<nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        {% for tab in tabs %}
            {% if forloop.first %}
            <a class="nav-link active" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" href="#nav-tab{{ tab.Order }}" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="true">
                {% if tab.Icon %}
                    <i class="bi bi-{{ tab.Icon }}"></i>&nbsp;
                {% endif %}
                {{ tab.Name }}
            </a>
            {% else %}
            <a class="nav-link" id="nav-tab{{ tab.Order }}-tab"
                data-toggle="tab" href="#nav-tab{{ tab.Order }}" role="tab"
                aria-controls="nav-tab{{ tab.Order }}" aria-selected="false">
                {% if tab.Icon %}
                    <i class="bi bi-{{ tab.Icon }}"></i>&nbsp;
                {% endif %}
                {{ tab.Name }}
            </a>
            {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    {% for tab in tabs %}
    {% if forloop.first %}
    <div class="tab-pane fade show active" id="nav-tab{{ tab.Order }}" role="tabpanel"
         aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.formatted_markdown|safe }}
    </div>
    {% else %}
    <div class="tab-pane fade" id="nav-tab{{ tab.Order }}" role="tabpanel"
         aria-labelledby="nav-tab{{ tab.Order }}-tab">{{ tab.formatted_markdown|safe }}
    </div>
    {% endif %}
    {% empty %}
    {% endfor %}
</div>
{% endblock %}

{% block js-before %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var galleries = document.querySelectorAll(".product-gallery");
    if (galleries.length)
        for (var e = 0; e < galleries.length; e++)
            ! function(r) {
                for (var anchors = galleries[r].querySelectorAll(".product-gallery-thumblist-item:not(.video-item)"),
                         images = galleries[r].querySelectorAll(".product-gallery-preview-item"),
                         videos = galleries[r].querySelectorAll(".product-gallery-thumblist-item.video-item"),
                     t = 0; t < anchors.length; t++)
                    anchors[t].addEventListener("click", o);

                function o(e) {
                    e.preventDefault();
                    for (var t = 0; t < anchors.length; t++)
                        images[t].classList.remove("active"),
                        anchors[t].classList.remove("active");
                    this.classList.add("active"),
                    galleries[r].querySelector(this.getAttribute("href")).classList.add("active")
                }

                for (var l = 0; l < videos.length; l++)
                    lightGallery(videos[l], {
                        selector: "this",
                        download: !1,
                        videojs: !0,
                        youtubePlayerParams: {
                            modestbranding: 1,
                            showinfo: 0,
                            rel: 0,
                            controls: 0
                        },
                        vimeoPlayerParams: {
                            byline: 0,
                            portrait: 0,
                            color: "fe696a"
                        }
                    })
            }(e)
});

    $(document).ready(function() {
        for (var e = document.querySelectorAll(".image-zoom"), t = 0; t < e.length; t++)
            new Drift(e[t],{
                paneContainer: e[t].parentElement.querySelector(".image-zoom-pane")
            })
    });
</script>
{% if user.is_authenticated and user.is_staff %}
    <script>
    <!--http://jsfiddle.net/z824fn6b/320/-->
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({
        html: true,
        sanitize: false,
        container: 'body',
        content: function() {
            return $('#price-history-table').html();
        },
      });
    });
    </script>
{% endif %}
    <script src="{% static '/products/drift.min.js' %}"></script>
    <script src="{% static '/products/lightgallery.min.js' %}"></script>
{% endblock %}
